body{
    background: crimson;
    width: 70%;
    height: 50%;
    margin: 5% 20%;
}

h1{
    text-transform: uppercase;
}

.letragrande{
    font-size: 2em;
    font-style: italic;


}

div > h2 {
    text-transform: uppercase;
    font-style: italic;
}

div > h2::first-letter{
    font-size: 2em;
    font-style: italic;
}
